body { background: #ffffff; font-family: Verdana, Bitstream Mono Sans, sans; font-size: 10pt; }
table { border-bottom: 1px solid #80aab8; margin-bottom: 4pt; }
.blank { border: none; background: transparent; margin:0px; padding:0px; }
td { background-color: #e2e9eb; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff;
     font-family: Verdana, Bitstream Mono Sans, sans; font-size: 10pt; padding: 2px; }
table.cp { border: none; background: transparent; margin:0px; padding:0px; }
.cp td { border-left: 0px; vertical-align: top; }
td.left { border-left: 1px solid #80aab8; }
td.right { border-right: 1px solid #80aab8; }
.even { background-color: #f2f9fb; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff;
     font-family: Verdana, Bitstream Mono Sans, sans; font-size: 10pt; }
tr.header { background: url('images/header-m.gif'); }
th { border-bottom: 1px solid #80AAB8; padding: 0px; background: url('images/header-m.gif') top; text-align:left; height:32px; 
     font-family: Verdana, Bitstream Mono Sans, sans; font-size: 10pt; vertical-align: middle; padding-left:12px; padding-right:12px; }
th.left { padding-left:0px; text-align:left; }
th.right { padding-right:0px; text-align:right; }
th.footer { text-align:center; border-left: 1px solid #80AAB8; border-right: 1px solid #80AAB8; } 
body .category { background: #d5e6ec; border-left: 1px solid #80aab8; border-right: 1px solid #80aab8;
            border-top: 1px solid #b3c4ca; border-bottom: 1px solid #b3c4ca; }
.cp .category { border: 1px solid #80aab8; }
body .error { border: 1px solid #80aab8; background: #eeee90; padding-left: 3px; padding-right: 3px; }
.desc { font-size: 80%; }
a:link, a:active, a:visited, a:hover { color: #0000ff; text-decoration: none; border: 0px; }
.topbar { background-color: #d5e6ec; border-bottom: 1px solid #b3c4ca; vertical-align: middle; margin-bottom: 10pt;
    padding-left: 2px; padding-right: 2px; }
hr { border: 1px solid #b3c4ca; margin: 1px; }
img { border: 0px; padding: 0px; margin: 0px; }
textarea, select, .textfield { border: 1px solid #80aab8; }
.button { background: #c8dce0; border: 1px outset #b3c4ca; text-align: center; }
body a.rank0 { color: #808080; }
body a.rank2 { color: #000000; }
body a.rank3 { color: #000000; font-style:italic; }
body a.rank4 { color: #000000; font-style:italic; font-weight:bold; }
body a.rank5 { color: #0000FF; text-decoration:underline; }
.preview { margin:10px; border: 1px solid #b3c4ca; background-color: #e2e9eb; }
.elide { left-margin: 5em; display:none; }
.quoteheader { }
.quote { border: 1px solid #b3c4ca; background-color: #d5e6ec; margin-left:15px; margin-right:15px; }
.spoilheader { } 
.spoiler { display: none; border: 1px solid #b3c4ca; background: #d5e6ec; margin-left:15px; margin-right:15px; }
a.suggest { text-decoration: none; color: #FF0000; }
a:hover.suggest { position: relative; z-index: 1; }
a.suggest span { display: none; }
a:hover.suggest span { display: block; width: 200px; position: absolute; left: 5px; top: 0.8em; border: 1px solid #80aab8; text-decoration: none; color: #000000; 
    background: #eeee90; z-index: 3; }
form { display: inline }
