<tr><td colspan='3' class='left right'><a name='q{FAQID}'></a>
<b><a href='faq.php#q{FAQID}'>Question {NUMBER}.</a></b> {QUESTION}</td></tr>
<tr><td colspan='3' class='left right even'><b>Answer:</b> {ANSWER}</td></tr>
