<a href='index.php'>{SITENAME}</a> - Frequently Asked Questions
<br clear='all' />
<table align='center' cellspacing='0'>
<tr><th width='20' class='left'><img src='{IMGDIR}/header-l.gif'/></th>
<th style='text-align:center'>Table of Contents</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{TOC}</table>
<table align='center' cellspacing='0'>
<tr><th width='20' class='left'><img src='{IMGDIR}/header-l.gif'/></th>
<th style='text-align:center'>Frequently Asked Questions</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}</table>

