<a href='index.php{GROUP?PARAM}'>{SITENAME}</a> - {FORUMNAME}
<br clear='all' />|PAGER?{PAGERTOP}|
<table cellspacing='0' width='100%'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th>Threads</th><th>Posts</th><th>Author</th><th>Last Post</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}</table>
|THREAD?<a href='post.php?forumID={FORUMID}' style='float:right'><img src='{IMGDIR}/newthread.gif'/></a>|
{PAGERBOTTOM}
