<tr><td class='left' align='center'>{STATUS}</td>
    <td>|TOLAST?<a href='thread.php?threadID={THREADID}&page=-1#newest'><img src='{IMGDIR}/icon-to-new.gif' alt='To Newest' /></a>|
        {TYPE} <a href='thread.php?threadID={THREADID}'>{TITLE}</a><br/>
        {PAGER}</td>
    <td>{POSTCOUNT}</td>
    <td>{STARTER}</td>
    <td class='right' colspan='2'>{LASTPOST}<br/>by {LASTPOSTER}
        <a href='thread.php?threadID={THREADID}&page=-1#newest'><img src='{IMGDIR}/icon-to-new.gif' alt='To Newest' /></a></td></tr>
