{SITENAME}
<br clear='all' />
<table width='100%' cellspacing='0'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th>Forum</th><th>Threads</th><th>Posts</th><th>Last Post</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>{ROWS}</table>
<table width='100%' cellspacing='0'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>Current Statistics</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
<tr><td class='left right desc' colspan='3'>
A total of {USERS} users have posted {POSTS} posts in {THREADS} threads.
Our newest user is <a href='user.php?id={NEWESTID}'>{NEWEST}</a>.<br/>
Active users: {USERLIST}
</td></tr></table>
