<tr><td class='left' align='center'>{NEW}</td>
    <td><a href='forum.php?forumID={ID}'>{NAME}</a><div class='desc'>{DESC}<br/>|MODS?Moderators: {MODS}|</div></td>
    <td>{THREADS}</td>
    <td>{POSTS}</td>
    <td colspan='2' class='right'><div class='desc'>|NOLAST?<i>No Posts</i>|{LAST}</div></td></tr>
