<a href='index.php'>{SITENAME}</a><form action='login.php' method='post'>
<br clear='all' />
<table cellspacing='0' align='center'>
<tr><td class='blank' colspan='2'><table class='blank' cellspacing='0' width='100%'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>Log In</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
|ERROR?<tr><td class='left right' colspan='2'>{ERROR}</td></tr>|
|RESEND?<tr><td class='left right' colspan='2'><a href='lostpassword.php?mode=activation'>Re-send activation e-mail</a></td></tr>|
<tr><td class='left'>Username:</td><td class='right'><input type='text' name='username' /></td></tr>
<tr><td class='left'>Password:</td><td class='right'><input type='password' name='password' /></td></tr>
<tr><th class='footer' colspan='2'><input type='submit' name='action' value='Log In' /></th></tr>
</table></form>
