<a href='index.php'>{SITENAME}</a>
<br clear='all' />
|PAGER?{PAGER}|
<table align='center' cellspacing='0' width='100%'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' align='middle' /><a href='member.php?order=username{DESCUSER}' style='vertical-align:middle'>Name</a></th>
    <th><a href='member.php?order=rank{DESCRANK}'>Rank</a></th><th><a href='member.php?order=registerDate{DESCDATE}'>Date Joined</a></th>
    <th><a href='member.php?order=pc{DESCPC}'>Posts</a></th><th>Title</th><th>Location</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}
</table>
|PAGER?{PAGER}|
