<tr><td class='left' width='15%'><a href='user.php?id={USERID}'>{NAME}</a></td><td align='center'>{RANK}</td><td>{JOINED}</td><td>{POSTS}</td>
    <td>{TITLE}</td><td colspan='2' class='right'><div style='width:100%;overflow:hidden'>{LOCATION}</div></td></tr>
