<a href='index.php'>{SITENAME}</a><br clear='all' />
<center>The post has been edited successfully.<br/><br/>
<a href='thread.php?threadID={THREADID}&page=-1#newest'>Return to the thread</a></center>
