<a href='index.php{GROUP?PARAM}'>{SITENAME}</a> - <a href='forum.php?forumID={FORUMID}'>{FORUMNAME}</a> - {THREADNAME}
<br clear='all' />
|PREVIEW?<table width='100%' align='center' cellspacing='0'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th style='text-align:center'>Preview Post</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
<tr><td class='left right' colspan='3'>{PREVIEW}</td></tr></table>|
<form action='mod.php' method='post'>
<input type='hidden' name='edit' value='{POSTID}' /> 
<table cellspacing='0' align='center'>
<tr><td colspan='2' class='blank'>
<table class='blank' cellspacing='0' width='100%'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th><center>Editing Post</center></th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
|ERROR?<tr><td colspan='2' class='category'>{ERROR}</td></tr>|
<tr><td class='left'>Subject:</td><td class='right'>|THREAD?<input size='60' type='text' name='subject' value='|{SUBJECT}|THREAD?'/>|</td></tr>
<tr><td class='left'>Body:</td><td class='right'><textarea rows='20' cols='60' name='body'>{BODY}</textarea></td></tr>
<tr><td class='left'>Settings:</td><td class='right'>
    <input type='checkbox' name='disableSig' {DISABLESIG} /> Hide Signature<br/>
    <input type='checkbox' name='disableTags' {DISABLETAGS} /> Disable Tags<br/>
    <input type='checkbox' name='disableSmilies' {DISABLESMILIES} /> Disable Smilies</td></tr>
<tr><th colspan='2' class='footer' style='text-align:center'><input type='submit' name='post' value='Edit' />
    <input type='submit' name='preview' value='Preview' /></th></tr>
</table></form>
