<a href='index.php'>{SITENAME}</a> - <a href='forum.php?forumID={FORUMID}'>{FORUMNAME}</a> - <a href='thread.php?threadID={THREADID}'>{THREADNAME}</a> - Kick Management
<br clear='all' />
<form action='mod.php' method='post'>
<input type='hidden' name='kick' value='{THREADID}' />
<table cellspacing='0' align='center' style='position:relative; left:0px; right:0px;'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' style='vertical-align:middle'/></th>
<th><span style='vertical-align:middle'>Username</span></th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
|ERROR?<tr><td class='left right error' colspan='3'>{ERROR}</td></tr>|
<tr><td class='left right' align='center' colspan='3'><input type='text' style='width:95%' name='kickName' /></td></tr>
<tr><th class='footer left right' colspan='3'><input type='submit' name='kickByName' value='Kick' /></th><tr>
|HASKICKS?{ROWS}
<tr><th class='footer left right' colspan='3'><input type='submit' name='unkick' value='Unkick' /></th><tr>|
</table></form>
