<center>Are you sure you want to delete the thread "{SUBJECT}"?<br/><br/>
<form action='mod.php' method='post'>
<input type='hidden' name='delthread' value='{THREADID}' />
<input type='submit' name='confirm' value='Confirm Delete' /></form></center>
