<center>Are you sure you want to delete this post?<br/><br/>
<form action='mod.php' method='post'>
<input type='hidden' name='delete' value='{POSTID}' />
<input type='submit' name='confirm' value='Confirm Delete' /></form></center>
