<tr><td class='|EVEN?even |left' align='right'>
<input type='checkbox' name='unkickID[{USERID}]' id='kick[{USERID}]' value='1' />
</td><td colspan='2' class='|EVEN?even |right'>
<label for='unkickID[{USERID}]'>{USERNAME}</label>
</td></tr>
