<a href='index.php'>{SITENAME}</a> - Private Messages
<br clear='all' />|PAGER?{PAGERTOP}|<form action='pm.php' method='post'>
<table cellspacing='0' width='100%'>
<tr><th class='left' colspan='2' width='60'><img src='{IMGDIR}/header-l.gif' /></th>
<th>Subject</th><th>Member</th><th>Date</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}
<tr><th colspan='6' class='footer left right'> 
<div style='float:left;width:45%;text-align:left;padding-left:8px'>
<input type='hidden' name='box' value='{CURRENTBOX}' /><input type='submit' name='delete' value='Delete Selected' />
|MOVE?<input type='submit' name='move' value='Move Selected To:' /><select name='moveTo'>{MOVEBOXES}</select>|</form></div>
<div style='float:right;width:45%;text-align:right;padding-right:8px'><form action='pm.php' method='get'>
<input type='submit' value='Show Box:' /><select name='box'>{VIEWBOXES}</select></form> 
<form action='pm.php' method='get'><input type='submit' name='boxes' value='Manage Boxes' /> <input type='submit' name='compose' value='Send PM' /></form></div>
</form></th></tr></table>
{PAGERBOTTOM}
