<a href='index.php'>{SITENAME}</a> - Compose Private Message
<br clear='all' />
|PREVIEW?<table width='100%' align='center' cellspacing='0'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th style='text-align:center'>Preview Message</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
<tr><td class='left right' colspan='3'>{PREVIEW}</td></tr></table>|
<form action='pm.php' method='post'>
|REPLY?<input type='hidden' name='reply' value='{REPLYID}' />|
<table border='0' cellspacing='0' align='center'>
<tr><td colspan='2' class='blank'>
<table class='blank' cellspacing='0' width='100%'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th><center>New Message</center></th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
|ERROR?<tr><td colspan='2' class='category'>{ERROR}</td></tr>|
<tr><td class='left'>Recipient:</td>
    <td class='right'><input size='60' type='text' name='to' value='{TO}' /></td></tr>
<tr><td class='left'>Subject:</td>
    <td class='right'><input size='60' type='text' name='subject' value='{SUBJECT}' /></td></tr>
<tr><td class='left' valign='top'>Body:</td>
    <td class='right'><textarea rows='20' cols='60' name='body'>{BODY}</textarea></td></tr>
<tr id='settingsRow'><td class='left' valign='top'>Settings:</td><td class='right'>
    <input type='checkbox' name='disableTags' |DISABLETAGS?checked='checked'| /> Disable Tags<br/>
    <input type='checkbox' name='disableSmilies' |DISABLESMILIES?checked='checked'| /> Disable Smilies</td></tr>
<tr><th colspan='2' class='footer'><input type='submit' name='send' value=' Send ' />
    <input type='submit' name='preview' value='Preview' /></th></tr>
</table></form>
|REPLY?<table width='100%' align='center' cellspacing='0'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th style='text-align:center'>In Reply To</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
<tr><td class='left right' colspan='3'>{REPLY}</td></tr></table>|
