<tr><td class='left' align='right' width='20'><input type='checkbox' name='selected[]' value='{PMID}' /></td>
    <td width='40' align='center'>{STATUS}</td>
    <td><a href='pm.php?read={PMID}'>{SUBJECT}</a></td>
    <td>{MEMBER}</td>
    <td class='right' colspan='2'>{DATE}</td></tr>
