<a href='index.php'>{SITENAME}</a> - Private Messages
<br clear='all' />
<table border='0' cellspacing='0' align='center'>
<tr><td colspan='2' class='blank'>
<table class='blank' cellspacing='0' width='100%'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th><center>Private Message</center></th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
<tr><td class='left'>Sender:</td>
    <td class='right'>|FROM?<a href='user.php?id={FROMID}'>|{FROM}|FROM?</a>|</td></tr>
<tr><td class='left'>Recipient:</td>
    <td class='right'>|TO?<a href='user.php?id={TOID}'>|{TO}|TO?</a>|</td></tr>
<tr><td class='left'>Subject:</td>
    <td class='right'>{SUBJECT}</td></tr>
|REPLY?<tr><td class='left'>In Reply To:</td>
    <td class='right'><a href='pm.php?read={REPLYID}'>{REPLY}</a></td></tr>|
<tr><td class='left' valign='top'>Message:</td>
    <td class='right'>{BODY}</td></tr>
<tr><th colspan='2' class='footer'>
|CANREPLY?<form action='pm.php' method='get'>
<input type='hidden' name='reply' value='{MSGID}' />
<input type='submit' name='compose' value=' Send Reply ' /></form>|
<form action='pm.php' method='post'>
<input type='hidden' name='delete' />
<input type='hidden' name='selected[]' value='{MSGID}' />
<input type='hidden' name='box' value='{BOXID}' />
<input type='submit' value='Delete Message' />
</form>
<form action='pm.php' method='get'>
<input type='hidden' name='box' value='{BOXID}' />
<input type='submit' value='Back to Private Messages' />
</form>

</th></tr>
</table></form>

