|VOTE?<form action='vote.php' method='post'> <input type='hidden' name='threadID' value='{THREADID}' />|
<table cellspacing='0' align='center'>
<tr><td class='blank' colspan='2'><table class='blank' cellspacing='0' width='100%'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>{TITLE}</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
{OPTIONS}
<tr><th class='footer left right' colspan='2'>&nbsp;|VOTE?<input type='submit' value='Vote' />||!VOTE?Total votes: {TOTAL}|&nbsp;</th></tr>
</table>|VOTE?</form>|
