<tr><td class='left' width='50%' style='white-space:nowrap'>{CAPTION}</td><td class='right' width='50%'><div style='float:left; width:98%;'>
<span style='position:absolute; color:#0000ff; z-index:2; width:0px'>{PERCENT}%</span>
<div style='position:relative; z-index:1; top:0pt; height:12pt; width:{PERCENT}%; border:1px solid #80aab8; background: #c8dce0; color: #ffffff'></div>
</div></td></tr>
