<div id='poll{ID}'><input type='text' name='polloptions[{ID}]' value='{VALUE}' maxlength='50' size='50' />
<noscript><input type='submit' name='deleteoption[{ID}]' value='Delete' /></noscript><script type='text/javascript'><!--
document.write("<input type='button' value='Delete' onclick='deletePollOption(\"{ID}\");' />");
//--></script></div>
