<a href='index.php{GROUP?PARAM}'>{SITENAME}</a> - <a href='forum.php?forumID={FORUMID}'>{FORUMNAME}</a> - |THREAD?New Thread|{THREADNAME}
<br clear='all' />
|PREVIEW?<table width='100%' align='center' cellspacing='0'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th style='text-align:center'>Preview Post</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
<tr><td class='left right' colspan='3'>{PREVIEW}</td></tr></table>|
<form action='post.php' method='post'>
<input type='hidden' name='forumID' value='{FORUMID}' /> 
<input type='hidden' name='threadID' value='{THREADID}' /> 
<table border='0' cellspacing='0' align='center'>
<tr><td colspan='2' class='blank'>
<table class='blank' cellspacing='0' width='100%'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th><center>New Post</center></th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
|ERROR?<tr><td colspan='2' class='category'>{ERROR}</td></tr>|
<tr><td class='left'>Subject:</td>
    <td class='right'>|THREAD?<input size='60' type='text' name='subject' value='|{SUBJECT}|THREAD?'/>|</td></tr>
<tr><td class='left' valign='top'>Body:</td>
    <td class='right'><textarea rows='20' cols='60' name='body'>{BODY}</textarea></td></tr>
<tr id='settingsRow'><td class='left' valign='top'>Settings:</td><td class='right'>
    <input type='checkbox' name='disableSig' |DISABLESIG?checked='checked'| /> Hide Signature<br/>
    <input type='checkbox' name='disableTags' |DISABLETAGS?checked='checked'| /> Disable Tags<br/>
    <input type='checkbox' name='disableSmilies' |DISABLESMILIES?checked='checked'| /> Disable Smilies</td></tr>
|THREAD?<tr><td class='left'>Poll Title:</td><td class='right'><input type='text' size='60' maxlength='255' value='{POLLTITLE}' name='polltitle' /></td></tr>
<tr><td class='left' valign='top'>Poll Options:</td><td class='right' id='pollOptions'>{POLLOPTIONS}</td></tr>|
<tr><th colspan='2' class='footer'><input type='submit' name='post' value=' Post ' />
    <input type='submit' name='preview' value='Preview' />|THREAD? <script type='text/javascript'><!--
    document.write("<input type='button' value='Add Poll Option' onclick='addPollOption();' />");
    //--></script><noscript><input type='submit' name='addpoll' value='Add Poll Option' />|</td></tr></noscript></th></tr>
</table></form>
