<a href='index.php'>{SITENAME}</a>
<br clear='all' />
<table cellspacing='0' align='center'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>Registration Successful</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
<tr><td class='left right' colspan='3'>
|CONFIRM?A confirmation e-mail has been sent to {EMAIL} containing instructions on how to activate your account.|
|COPPAMAIL?The e-mail also includes information for your parent or legal guardian that must be responded to.|
|COPPANOMAIL?Your parent or legal guardian must send an e-mail to {ADMINMAIL} to show that you have permission to register.|
|ADMIN?Your account will not be available until an administrator has activated it.|
|ACTIVE?You may <a href='login.php'>log in</a> now.|
</td></tr>
<tr><th class='footer' colspan='3'><a href='index.php'>Enter {SITENAME}</a></th></tr></table>
