<a href='index.php'>{SITENAME}</a>
<br clear='all' />
<table width='100%' cellspacing='0'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>Account Activated</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
|ADMIN?<tr><td class='left right' colspan='3'>
Your e-mail address has been confirmed, but your account will not be available until an administrator has reviewed it.</td></tr>|
<tr><th class='footer' colspan='3'><a href='index.php'>Enter {SITENAME}</a></th></tr></table>
