<a href='index.php'>{SITENAME}</a>
<br clear='all' />
<form action="register.php" method="post">
<input type='hidden' name='key' value='{KEY}' />
<table align='center' cellspacing='0'><tr><td colspan='2' class='blank'>
<table width='100%' cellspacing='0' class='blank'><tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>Register</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
|ERROR?<tr><td class='category' colspan='2'>{ERROR}</td></tr>|
<tr><td class='left'>Username:</td><td class='right'><input type="text" name="uname" maxlength="32" value='{USERNAME}' /></td></tr>
<tr><td class='left'>Password:</td><td class='right'><input type="password" name="passwd" /></td></tr>
<tr><td class='left'>Confirm Password:</td><td class='right'><input type="password" name="passwd_again" /></td></tr>
|EMAIL?<tr><td class='left'>E-Mail:</td><td class='right'><input type="text" name="email" maxlength="255" value='{EMAIL}' /></td></tr>|
|VISUAL?<tr><td class='left'>Confirm:</td><td class='right'><img src='verifyImage.php?key={KEY}&amp;stamp={STAMP}' /><br/>
<input type="text" name="visual" maxlength="6" /></td></tr>|
<tr><td class='left'></td><td class='right'><input type='checkbox' value='1' name='coppa' {COPPA} /> I am exactly 13 years old or older.<br/></td></tr>
<tr><th colspan="2" align="center" class='footer'>
<input type="submit" name="submit" value="Register" />
</td></tr>
</table>
</form>
