<a href='index.php'>{SITENAME}</a> - Forum Rules
<br clear='all' />
<table align='center' cellspacing='0'>
<tr><th width='20' class='left'><img src='{IMGDIR}/header-l.gif'/></th>
<th style='text-align:center'>Forum Rules</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}
|ERROR?<tr><td class='left right' colspan='3'>You must agree to the rules to continue.</td></tr>|
|CONFIRM?<form action='rules.php' method='post'>
<tr><td class='left right' colspan='3' style="text-align:center">
<input type='checkbox' name='confirm' value='1' /> I have read and agree to the above rules.</td></tr>
<tr><th class='footer' colspan='3'><input type='submit' name='button' value='Enter Forums' /></th></tr>|
</table>

