<a href='index.php'>{SITENAME}</a> - Search Results 
<br clear='all' />
|PAGER?{PAGERTOP}|<table width='100%' cellspacing='0'>
<tr><th width='160' class='left'><img src='{IMGDIR}/header-l.gif' style='vertical-align:middle'/>
<span style='vertical-align:middle'>Poster</span></th><th>Posts</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}</table>
|PAGER?{PAGERBOTTOM}<br/>|
