<a href='index.php'>{SITENAME}</a> - Search Results 
<br clear='all' />{PAGERTOP}
<table cellspacing='0' width='100%'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th>Threads</th><th>Matching Posts</th><th>Author</th><th>Last Post</th><th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}</table>
{PAGERBOTTOM}
