<tr><td class='left' align='center'><img src='{IMGDIR}/icon-no-new.gif' /></td>
    <td><a href='thread.php?threadID={THREADID}'>{TITLE}</a></td>
    <td>{POSTCOUNT}</td>
    <td>{CREATOR}</td>
    <td class='right' colspan='2'>{POSTAT}<br/>by {LASTPOSTER}
        <a href='thread.php?threadID={THREADID}&page=-1#newest'><img src='{IMGDIR}/icon-to-new.gif' alt='To Newest' /></a></td></tr>
