<tr><td width='{WIDTH}' class='|EVEN?even |left' valign='top'>
        {CREATOR}
        |AVATAR?<br/>{AVATAR}|
        |LOCATION?<div style='width:{WIDTH}px;overflow:hidden'>Location: {LOCATION}</div>|</td>
    <td colspan='2' class='|EVEN?even |right' valign='top'>
        <div style='width:100%' class='topbar'><div style="float:right">
        |PM?<a href='pm.php?send={CREATORID}'><img alt='Send PM' src='{IMGDIR}/sendpm.gif'/></a>|</div>
        <a href='thread.php?threadID={THREADID}&postID={POSTID}#p{POSTID}'><img src='{IMGDIR}/icon-to-new.gif' alt='To Thread' title='To Thread' /></a>
        {POSTAT} |MOD?<i>IP: {IP}</i>|</div>
        {BODY}</td></tr>
