<a href='index.php'>{SITENAME}</a> - Search
<br clear='all' />
<form action='search.php' method='post'><table cellspacing='0' align='center'>
<tr><td class='blank' colspan='2'><table class='blank' cellspacing='0' width='100%'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th><th style='text-align:center'>Search</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
<tr><td class='left'><b>Poster Search:</b></td><td class='right'><input type='text' style='width:400px' name='creator' /></td></tr>
<tr><td class='left'><b>Subject Search:</b></td><td class='right'><input type='text' style='width:400px' name='subject' /></td></tr>
<tr><td class='left'><b>Full Text Search:</b></td><td class='right'><input type='text' style='width:400px' name='body' /></td></tr>
<tr><td class='left'>&nbsp;</td><td class='right desc' colspan='2'>Use +<i>keyword</i> to guarantee that results contain <i>keyword</i>.<br/>
    Use -<i>keyword</i> to guarantee that results do not contain <i>keyword</i>.</td></tr>
<tr><td class='left' valign='top'><b>Search in Forums:</b></td><td class='right'>{FORUMDROP}</td></tr>
<tr><td class='left'><b>Display Results as:</b></td>
    <td class='right'><input type='radio' name='view' value='post' checked="checked" /> View as Posts
        <input type='radio' name='view' value='thread' /> View as Threads</td></tr>
<tr><th colspan='2' class='footer'><input type='submit' value='Search' /></th></tr>
</table></form>
