<noscript><style type='text/css'>.spoiler { color: #000000; background: #000000; display: block; }</style></noscript>
<a href='index.php{GROUP?PARAM}'>{SITENAME}</a> - <a href='forum.php?forumID={FORUMID}'>{FORUMNAME}</a> - {THREADNAME}
<br clear='all' />{POLL}
|PAGER?{PAGERTOP}|<table cellspacing='0' width='100%' align='center' style='position:relative; left:0px; right:0px;'>
<tr><th width='160' class='left'><img src='{IMGDIR}/header-l.gif' style='vertical-align:middle'/><span style='vertical-align:middle'>Poster</span></th><th>Posts</th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr>
{ROWS}</table>
<div style='float:right'>|REPLY?<a href='post.php?threadID={THREADID}'><img src='{IMGDIR}/reply.gif' alt='Reply' /></a>
<a href='mod.php?report={THREADID}'><img alt='Report' src='{IMGDIR}/report.gif'/></a>|
|MOD?<a href='mod.php?delthread={THREADID}'><img src='{IMGDIR}/delete.gif' alt='Delete' /></a>
<a href='mod.php?kick={THREADID}'><img src='{IMGDIR}/kicks.gif' alt='Show Kicks' /></a>|
|LOCK?<a href='mod.php?lock={THREADID}'><img src='{IMGDIR}/lock.gif' alt='Lock' /></a>|
|UNLOCK?<a href='mod.php?lock={THREADID}'><img src='{IMGDIR}/unlock.gif' alt='Unlock' /></a>|
|MOD?<a href='mod.php?move={THREADID}'><img src='{IMGDIR}/move.gif' alt='Move' /></a>
<a href='mod.php?split={THREADID}'><img src='{IMGDIR}/split.gif' alt='Split' /></a>|
|UNSTICKY?<a href='mod.php?sticky={THREADID}'><img src='{IMGDIR}/unsticky.gif' alt='Unsticky' /></a>|
|STICKY?<a href='mod.php?sticky={THREADID}'><img src='{IMGDIR}/sticky.gif' alt='Sticky' /></a>|
|ANNOUNCE?<a href='mod.php?announce={THREADID}'><img src='{IMGDIR}/announce.gif' alt='Announce' /></a>|</div>
|PAGER?{PAGERBOTTOM}<br/>|
