<tr><td width='{WIDTH}' class='|EVEN?even |left' valign='top'>
        |KICK?<a href='mod.php?kick={THREADID}&id={POSTERID}'><img src='{IMGDIR}/kick.gif' alt='Kick' style='float:right; margin:3px' /></a>|
        {POSTER}<br/>
        {TITLE}<br/>
        {RANK}
        |AVATAR?<br/>{AVATAR}|
        |LOCATION?<div style='width:{WIDTH}px;overflow:hidden'>Location: {LOCATION}</div>|</td>
    <td colspan='2' class='|EVEN?even |right' valign='top'><a name='p{POSTID}' id='p{POSTID}'></a>
        |NEWEST?<a name='newest' id='newest'></a>|
        <div class='topbar'><div style="float:right">
        |QUOTE?<a href='post.php?threadID={THREADID}&postID={POSTID}'><img alt='Quote' src='{IMGDIR}/quote.gif'/></a>|
        |PM?<a href='pm.php?compose={POSTERID}'><img alt='Send PM' src='{IMGDIR}/sendpm.gif'/></a>|
        |EDIT?<a href='mod.php?edit={POSTID}'><img alt='Edit' src='{IMGDIR}/edit.gif'/></a>|
        |MOD?<a href='mod.php?delete={POSTID}'><img alt='Delete' src='{IMGDIR}/delete.gif'/></a>|</div>
        <div><a href='thread.php?threadID={THREADID}&postID={POSTID}#p{POSTID}'>{NEWPOST}</a>
        {TIMESTAMP} |MOD?<i>IP: {IP}</i>|</div></div>
        {BODY}|SIG?<hr/>{SIG}|</td></tr>
