<a href='index.php'>{SITENAME}</a> - User Control Panel
<br clear='all' />
<form action='user.php' method='post'>
<center><table cellspacing='0' class='cp'> 
<tr><td class='blank'><table cellspacing='0' width='100%' class='blank'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th align='center'><center>User Control Panel</center></th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
<tr><td class='blank'><table cellspacing='0' width='100%' style='text-align:left'>
|ERROR?<tr><td colspan='2' class='error'>{ERROR}</td></tr>|
<tr><td class='left' valign='top'><table cellspacing='0' width='100%' class='blank'>
<tr><td colspan='2' class='category'>Account Information</td></tr>
<tr><td><b>Username:</b></td><td>{USERNAME}</td></tr>
<tr><td><b>Member Since:</b></td><td>{REGDATE}</td></tr>
<tr><td><b>Post Count:</b></td><td>{POSTCOUNT}</td></tr>
<tr><td><b>Title:</b></td>
    <td>|SETTITLE?<input type='text' name='title' value='|{TITLE}|SETTITLE?' />|</td></tr>
<tr><td><b>Change Password:</b></td>
    <td><input type='password' name='password' value='' /></td></tr>
<tr><td><b>Verify Password:</b></td>
    <td><input type='password' name='verify' value='' /></td></tr>
<tr><td colspan='2' class='category'>Display Settings</td></tr>
<tr><td><b>Thread Views:</b></td>
    <td><input type='checkbox' name='viewSig' value='1' |VIEWSIG?checked='true'| /> View Signatures<br/>
        <input type='checkbox' name='viewAvatar' value='1' |VIEWAVATAR?checked='true'| /> View Avatars<br/>
        <input type='checkbox' name='viewSmilies' value='1' |VIEWSMILIES?checked='true'| /> View Smilies<br/>
        <input type='checkbox' name='quickReply' value='1' |QUICKREPLY?checked='true'| /> Show Quick Reply</td></tr>
<tr><td><b>Visibility:</b></td>
    <td><input type='checkbox' name='invisible' value='1' |INVIS?checked='true'| /> Invisible Mode<br/>
        |CANSHOWMAIL?<input type='checkbox' name='hideEmail' value='1' ||HIDEMAIL?checked='true'||CANSHOWMAIL? /> Hide E-mail Address|</td></tr>
<tr><td><b>Default Theme:</b></td>
    <td><select name='themeID'>{THEMELIST}</select></td></tr>
<tr><td><b>Private Messages:</b></td>
    <td><input type='checkbox' name='popupPM' value='1' |POPUPPM?checked='true'| /> Pop Up Notification<br/>
        <input type='checkbox' name='emailPM' value='1' |EMAILPM?checked='true'| /> E-mail Notification</td></tr>
</table></td><td class='right' valign='top'><table cellspacing='0' width='100%' class='blank'>
<tr><td colspan='2' class='category'>Profile Information</td></tr>
<tr><td><b>E-mail Address:</b></td>
    <td><input type='text' name='email' value='{EMAIL}' /></td></tr>
<tr><td><b>Location:</b></td>
    <td><input type='text' name='location' value='{LOCATION}' /></td></tr>
<tr><td><b>Time Offset:</b></td>
    <td><input type='text' name='timeZone' value='{TIMEZONE}' maxlength='3' size='3' /> hours<br/>
        <input type='checkbox' name='useDst' value='1' |USEDST?checked='true'| /> Automatically use DST</td></tr>
|AVATAR?<tr><td><b>Avatar:</b></td>
    <td><img src='{AVATAR}' height='{HEIGHT}' width='{WIDTH}' /></td></tr>|
|SETAVATAR?<tr><td><b>Avatar URL:</b></td>
    <td><input type='text' name='avatarURL' value='{AVATAR}' /></td></tr>|
<tr><td><b>Signature:</b></td>
    <td>|SETSIGNATURE?<textarea name='signature'>|{SIGNATURE}|SETSIGNATURE?</textarea>|</td></tr>
<tr><td><b>Bio:</b></td>
    <td><textarea name='bio' rows='4'>{BIO}</textarea></td></tr>
<tr><td><b>Smilies:</b></td>
    <td><input type='checkbox' name='disableSmilies' value='1' |DISSMILIES?checked='true'| /> Disable by default</td></tr>
</table></td></tr>
<tr><th class='footer' colspan='2'><input type='submit' name='profile' value='Save Changes' /> <input type='submit' name='view' value='View Profile' /></th></tr>
</table></td></tr>
</table></center></form>
