<noscript><style type='text/css'>.spoiler { color: #000000; background: #000000; display: block; }</style></noscript>
<a href='index.php'>{SITENAME}</a> - User Profile
<br clear='all' />
<center><table cellspacing='0' class='cp'> 
<tr><td class='blank'><table cellspacing='0' width='100%' class='blank'>
<tr><th class='left'><img src='{IMGDIR}/header-l.gif' /></th>
<th align='center'><center>User Profile for {USERNAME}</center></th>
<th class='right'><img src='{IMGDIR}/header-r.gif' /></th></tr></table></td></tr>
<tr><td class='blank'><table cellspacing='0' width='100%'>
|ERROR?<tr><td colspan='2' class='error'>{ERROR}</td></tr>|
<tr><td class='left' valign='top'><table cellspacing='0' width='100%' class='blank'>
<tr><td><b>Username:</b></td><td>{USERNAME}</td></tr>
<tr><td><b>Member Since:</b></td><td>{REGDATE}</td></tr>
<tr><td><b>Rank:</b></td><td>{RANK}<br/>{RANKIMG}</td></tr>
<tr><td><b>Post Count:</b></td><td>{POSTCOUNT}</td></tr>
<tr><td><b>Title:</b></td><td>{TITLE}</td></tr>
|AVATAR?<tr><td><b>Avatar:</b></td>
    <td><img src='{AVATAR}' height='{HEIGHT}' width='{WIDTH}' /></td></tr>|
</table></td><td class='right' valign='top'><table cellspacing='0' width='100%' class='blank'>
<tr><td><b>E-mail Address:</b></td>
    <td>{EMAIL}</td></tr>
<tr><td><b>Location:</b></td>
    <td>{LOCATION}</td></tr>
<tr><td><b>Signature:</b></td>
    <td>{SIGNATURE}</td></tr>
<tr><td><b>Bio:</b></td>
    <td>{BIO}</td></tr>
</table></td></tr>
<tr><th colspan='2' class='footer left right'>
<form action='pm.php' method='get'><input type='hidden' name='compose' value='{USERID}' />
<input type='submit' value='Send PM' /></form></th></tr>
</table></td></tr>
</table></center>

